body {
	margin: 0;
}
.main {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	/*height: 100vh;*/
	min-height: 600px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 17%;
	width: 90%;
	position: relative;
	text-transform: uppercase;
}

.logo {
	display: flex;
	color: #000;
	font-family: 'Inconsolata', sans-serif;
	font-weight: 400;
	font-size: x-large;
}

.menu {
	width: 60%;
}

.menu ul {
	display: flex;
	justify-content: space-between;
	list-style: none;
}

.menu-link {
	font-family: 'Playfair Display', serif;
	text-decoration: none;
	color: #626262;
}

.mainpctr {
	background-color: rgb(242, 242, 242);
	width: 90%;
}

#mainimgs {
	opacity: 0.9;
	width: 100%;
}

.photodiary {
	margin-top: 5%;
	display: flex;
	justify-content: space-between;
}

.discription {
	margin-left: 5%;
	padding-left: 7.5%;
	width: 200.5%;
	font-family: 'Playfair Display', serif;
	font-weight: normal;
	color: #626262;
}

.discription h5 {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 100;
	text-transform: uppercase;
	color: #c7c1b6;
}

.discription h2 {
	font-family: 'Playfair Display', serif;
	font-weight: normal;
	font-size: xx-large;
	color: #626262;
}

.aboutme {
	/*width: 230%;*/
	margin-right: 5%;
	margin-left: 5%;
	font-family: 'Playfair Display', serif;
	color: #626262;}

.aboutmepctr {
	background-color: #b4ad9e;
}

.aboutmepctr img {
	opacity: 0.9;
	width: 100%;
}

.aboutme h3 {
	font-weight: normal;
	font-size: x-large;
}

.aboutme p {
	font-size: small;
}

.aboutmesubs {
	display: flex;
	width: 30%;
	justify-content: space-between;
}

.posts {
	margin-top: 5%;
	display: flex;
}

.gallery {
	margin-left: 5%;
	padding-left: 7.5%;/*
	display: flex;
	align-content: space-between;
	flex-wrap: wrap;*/
	width: 54.5%;
}

.photo {
	background-color: #b4ad9e;
	margin-bottom: 5%;
}

.photo img {
	width: 100%;
	opacity: 0.9;
}

.discr {
	font-family: 'Playfair Display', serif;
	color: #626262;
	line-height: 165%;
}

.discrp1 {
	padding-left: 5%;
	padding-bottom: 3%;
	padding-right: 5%;
	font-weight: 100;
	font-size: 88%;
	font-style: italic;
}

.share {
	display: flex;
	justify-content: flex-end;
	margin: 7.5% 0 10% 0;
	text-align: right;
	color: #b4ad9e;
	font-family: 'Ubuntu', sans-serif;
	font-size: small;
}

.item {
	margin-left: 2%;
}

.topposts {	
	margin-right: 5%;
	margin-left: 5%;
	width: 23%;
}

.table {
	font-family:  'Ubuntu', sans-serif;
	color: #b4ad9e;
	padding-bottom: 20%;
}

.table tr {
	line-height: 180%;
}

.otherfont {
	font-family: 'Playfair Display', serif;
	color: #626262;
}

.toppostspctr{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-image: url(../images/posts/topposts/toppostspctr.jpg);
	/*background-color: #b4ad9e;*/
	width: 100%;
	height: 14%;
	color: #fff;
	font-family: 'Ubuntu', sans-serif;
	line-height: 1%;
}

.toppostspctr h2 {
	font-weight: 100;
	font-size: 350%;
}

.toppostspctr h3 {
	font-weight: 100;
	font-size: 150%;
}

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #d9d9d9;
	height: 100px;
	font-family: 'Playfair Display', serif;
	font-weight: 600;
	font-size: 110%;
}

.leftbuttons {

	margin-left: 5%;
	padding-left: 7.5%;
}

.leftbuttons td {
	padding-right: 30px;
}

.follow {
	display: flex;
	justify-content: space-between;
	margin-right: 5%;
	width: 13%;
}

.follow td {
	padding-left: 20px;
}

